@import '../../../assets/css/_component';

.contents {

    h2 {
        font-size: 3.6rem;
        color: $c--blue;
        margin: 0 0 0.4rem;
        user-select: none;
    }

    .description {
        margin: 0 0 4rem;
        color: rgba($c--dark-grey, 0.7);
    }
}

.thePoll {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: top;
    flex-wrap: wrap;
    padding: 0 0 10rem;
}

.answer {
    width: 100%;
    display: flex;
    justify-content: left;
    color: $c--blue;
    margin: 0 0 4rem;
    
    span:not(.voteTotal) {
        font-family: $f--heading;
        font-size: 2.6rem;
        margin: 0 3rem 0 0;
        color: inherit;
    }

    p {
        font-size: 1.4rem;
        color: $c--blue;
    }
}

.text, .votes {
    flex: 1;
}

.text {
    display: flex;
    align-items: center;

    p {
        margin: 0;
    }
}

.votes {
    text-align: right;
    padding: 0 8rem 0 0;
}

.voteTotal {
    font-family: $f--heading;
    color: $c--red;
    font-size: 2.4rem;
}