@import '../../../assets/css/_component';

.back {
    color: $c--white;
    user-select: none;
    display: none;
    flex: 1;

    p {
        cursor: pointer;
        margin: 0;
    }

    @include b--md {
        display: block;
    }
}