@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeue.woff2") format("woff2"),
		 url("../fonts/HelveticaNeue.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h3 a {
	display: block;
	font-family: $f--heading;
	font-weight: 500;
	line-height: 1;
	margin: 0 0 2.4rem;
}


h1 {
	font-size: 6.4rem;
}

h2 {
	font-size: 4.8rem;
}

h3, h3 a {
	font-size: 3.6rem;
}

a {
	text-decoration: none;
	transition: all 0.35s ease-out;
}

p, li, address, span, a, label {
	font-size: 1.6rem;
	line-height: 1.2;
	font-family: $f--body;
	margin: .75rem 0 1.4rem;
	padding: 0;
}
p {
	color: rgba($c--dark-grey, 0.7);
}

small, sup {
	font-size: 1.2rem;
	line-height: 1;
	font-family: $f--body;
}

small {
	margin: 0 0 1.4rem;
	display: inline-block;
}

sup {
	vertical-align: top;
}



label {
	font-size: 1.2rem;
}

textarea {
	resize: none;
	height: 12rem;
	line-height: 1.4;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.inputContainer {
	position: relative;
	margin: 0 0 1rem;

	&:last-of-type {
		margin: 0 0 3rem;
	}

	&.hasState, &.focusField {
		label {
			top: -0.6rem;
			transform: translateY(0);
			font-size: 1.2rem;
		}
	}

	&.focusField label {
		color: $c--blue;
	}

	&.halfWidth {
		input, textarea {
			width: 50%;
		}
	}

	label {
		position: absolute;
		top: 1.6rem;
		left: 0;
		margin: 0;
		user-select: none;
		transition: all 0.35s cubic-bezier(.2,.6,.33,.83);
		font-size: 1.6rem;
		cursor: pointer;
	}

	
}